{% for month in 1..12 %}
	{% set done =
			current_year > year or (current_year == year and month < current_month)
				? 'done'
				: current_year == year and month == current_month
					? 'current'
					: ''
	%}

	{# REEL #}
	<td
		class='{{ done|trim }}'
		data-month="{{ month }}"
		data-scid="{{ subcategory.id }}"
		data-sign="{{ sign }}"
		data-anticipe="0"
		data-target="#modalOperation"
		data-toggle="modal"
	>
		0
	</td>

	{# ANTICIPE #}
	<td
		class='{{ done|trim }} anticipe'
		data-month="{{ month }}"
		data-scid="{{ subcategory.id }}"
		data-sign="{{ sign }}"
		data-anticipe="1"
		data-target="#modalOperation"
		data-toggle="modal"
	></td>
{% endfor %}
<td class="done counterEdit td_total_border">0</td>
<td class="done counterEdit">0</td>
<td class="done counterEdit">0</td>