<tr class='tr_add'>
	<td class='td_number'>
		<input
			class='inputNumber'
			type='number'
			step="1"
			pattern="^\d*(\.\d{0,2})?$"
			value=''
			placeholder='0'
			{{ sign == '1' ? "min='0'" : "max='0'" }}
		/>
	</td>
	<td class='td_switch'>
		<span class='switch hide'><i class='fa-solid fa-repeat'></i></span>
	</td>
	<td class='td_anticipe'>
		<input
			class='inputAnticipe'
			type='number'
			step='1'
			pattern='^\d*(\.\d{0,2})?$'
			value=''
			placeholder='0'
			{{ sign == '1' ? "min='0'" : "max='0'" }}
		/>
	</td>
	<td class='td_date p-1'>
		<select class='inputDay'>
			{% for i in 1..daysInMonth %}
				<option value='{{ i }}' {{ loop.index == day ? 'selected' }}>{{ i }}</option>
			{% endfor %}
		</select>/<span>{{ month < 10 ? '0' ~ month : month }}</span>/<span>{{ year }}</span>
	</td>
	<td class='td_comment p-1'>
		<input class='inputComment' type='text' />
	</td>
	<td class='td_actions'>
		<div class="btn-group">
			<button 
				type="button"
				class="btn btn-default dropdown-toggle"
				data-toggle="dropdown"
				aria-haspopup="true"
				aria-expanded="false"
			>
				<i class="fas fa-cog"></i>
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu options p-1">
				<li class='invalid' title='Fonctionnalité à venir'>Dupliquer</li>
				<li class='invalid' title='Fonctionnalité à venir'>Attribuer</li>
				<li class='invalid noForm'>Retire mode édition</li>
				<li><hr></li>
				<li class="inputRetrait">Supprimer</li>
			</ul>
		</div>
	</td>
</tr>