{% set class_td = 'minWitdh40 center pointeur' %}
{% for category in categories %}
	<tr id='tr_category_{{ category.id }}' class='tr_category'>
		<td>
			<input
				type='text'
				id='cat_{{ category.id }}'
				value='{{ category.libelle|capitalize }}'
				name='category'
				placeholder='Libellé catégorie'
			/>
		</td>
		<td></td>
	</tr>

	{% for sc in category.subcategories %}
		<tr id='tr_subcategories_{{ sc.id }}' class='tr_subcategories'>
			<td></td>
			<td>
				<input
					type='text'
					class='m-1'
					id='sc_{{ sc.id }}'
					value='{{ sc.libelle }}'
					name='sc_{{ sc.id }}'
					placeholder='Libellé'
				/>
			</td>
			<td class='td_chevron_up {{ class_td }}'>
				<i class="fa-solid fa-chevron-up"></i>
			</td>
			<td class='td_chevron_down {{ class_td }}'>
				<i class="fa-solid fa-chevron-down"></i>
			</td>
			<td class='ml-1'>
				{% if sc.operations|length == 0 %}
					<button class='hide btn btn-danger delete_sc'><i class='fa-solid fa-xmark'></i></button>
				{% endif %}
			</td>
		</tr>
	{% endfor %}

	<tr class='tr_add'>
		<td></td>
		<td>
			<button class='add_sub'>Ajouter</button>
		</td>
	</tr>
{% endfor %}