{{ form_start(form) }}
	<div class="row center mt-4">

		{# LIBELLE #}
		<div class="offset-1 col-3 mb-4 pt-2 alignRight">
			{{ form_label(form.libelle) }}
		</div>
		<div class="col-4 mb-4">
			{{ form_widget(form.libelle) }}
		</div>
		<div class="col-3 mb-4"></div>

		{# MAIN #}
		<div class="offset-1 col-3 mb-4 pt-1 alignRight">
			{{ form_label(form.main) }}
		</div>
		<div class="col-1 mb-4 pt-1 alignLeft">
			{{ form_widget(form.main) }}
		</div>
		<div class="col-6 mb-4"></div>

		{# USERS #}
		<div class="offset-1 col-3 mb-4 pt-2 alignRight">
			{{ form_label(form.users) }}
		</div>
		<div class="col-4 mb-4">
			{{ form_widget(form.users) }}
		</div>
	</div>
	<div class="row mt-3">
		<div class="offset-4 col-2">
			<div class="p-3 btn btn-success">{{ button_label|default('Sauvegarder') }}</div>
		</div>
	</div>
{{ form_end(form) }}
