{# No operations #}
{% if operations[subcategory.id] is not defined %}
	{{ include('compte/_operation_empty.html.twig') }}

{% else %}

	{% set operationsBySc = operations[subcategory.id] %}

	{% for month in 1..12 %}

		{% if operationsBySc[month] is defined %}
			<td>{{ operationsBySc[month]['reel'] is defined ? operationsBySc[month]['reel'] : '0' }}</td>
			<td>{{ operationsBySc[month]['anticipe'] is defined ? operationsBySc[month]['anticipe'] : '0' }}</td>

		{% else %}
			<td>0</td>
			<td>0</td>
		{% endif %}

	{% endfor %}

	<td>{{ operationsBySc['total'] }}</td>
	<td>{{ (operationsBySc['total'] / 12)|round(2, 'ceil') }}</td>
	<td>{{ ((operationsBySc['total']*100)/operations['total_final'])|round(2, 'ceil') }}</td>
{% endif %}