{% extends 'base.html.twig' %}

{% block title %}Compte{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('compte') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('compte') }}
{% endblock %}

{% block body %}

	<div class="container-fluid" id='datas' data-year="{{ year }}" data-months="{{ months_json }}">

		{# TITRE #}
		<div class='row mt-2 mb-3'>
			<div class="offset-4 col-4 center">
				<h1>{{ compte.libelle }}</h1>
			</div>
			<div class="offset-2 col-2 center">
				<span class="button">Légende</span>
			</div>
		</div>

		{# SOLDE + NAVIGATION YEAR #}
		<div class='row mt-2 mb-3'>

			{# SOLDE #}
			<div class="offset-1 col-4">
				Solde actuel :
				<span class="soldeActuel total_month_full_{{ solde == null or solde < 0 ? 'neg' : 'pos' }}">
					{{ solde == null ? 0 : solde }}
				</span>
			</div>
			
			{# NAVIGATION YEAR #}
			<div class="offset-5 col-2 center">
				{% if year != 'now'|date('Y') %}
					<a href="{{ path('compte_show', { 'id': compte.id, 'year': 'now'|date('Y') }) }}">
						<span class='button'>Retour {{ 'now'|date('Y') }}</span>
					</a>
				{% endif %}
				<div class="container navigation">
					{% if year > min_year %}
						<a href="{{ path('compte_show', { 'id': compte.id, 'year': (year - 1) }) }}"><i class="fa-solid fa-arrow-left pointer black" title="Limite année min {{ min_year }}"></i></a>
					{% endif %}
					<span class='navigation_elem'>{{ year }}</span>
					{% if year < max_year %}
						<a href="{{ path('compte_show', { 'id': compte.id, 'year': (year + 1) }) }}"><i class="fa-solid fa-arrow-right pointer black" title="Limite année max {{ max_year }}"></i></a>
					{% endif %}
				</div>
			</div>
		</div>

		{# TABLE #}
		<div class='row m-1'>
			<div class="col-12 mb-4">
				{% include('compte/table/_table.html.twig') with {'operations': operations_pos, 'type': 'pos' } %}
			</div>
			<div class="col-12 mb-5">
				{% include('compte/table/_table.html.twig') with {'operations': operations_neg, 'type': 'neg' } %}
			</div>
			<div class="col-12">
				{{ include('compte/table/_table_soldes.html.twig') }}
			</div>
		</div>

		{# ACTIONS #}
		<div class='row mt-5 mb-3'>
			<div class="offset-1 col-10">
				{# <a href="{{ path('compte') }}">Retour à la liste</a> #}

				{# <a href="{{ path('compte_edit', {'id': compte.id}) }}">Modifier</a> #}

				{# {{ include('compte/_delete_form.html.twig') }} #}
			</div>
		</div>

		{# MODAL GESTION OPERATIONS #}
		{{ include('compte/modal/operations/index.html.twig') }}

	</div>
{% endblock %}
