{% extends 'base.html.twig' %}

{% block title %}Compte{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('compte') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('compte') }}
{% endblock %}

{% block body %}

	<div
		class="{# container-fluid #}"
		id='datas'
		data-year="{{ year }}"
		data-decouvert="{{ (compte.decouvert * -1) }}"
		data-months="{{ months_json }}"
		data-compteid="{{ compte.id }}"
	>
		{# TITRE #}
		<div class="container p-2">
			<div class='row'>
				<div class="offset-4 col-4 center">
					{% include('_h1.html.twig') with {'text': compte.libelle } %}
				</div>
				<div class="offset-2 col-2 center">
					<span class="button">Légende</span>
				</div>
			</div>

			{# SOLDE + NAVIGATION YEAR #}
			<div class='row'>

				{# SOLDE #}
				<div class="col-3">
					Solde actuel du compte :
					<span
						id='soldeActuel'
						class="soldeActuel total_month_full_{{ color_solde }}"
					>
						<span id='soldeActuelNb'>
							{{ current_solde == null ? 0 : current_solde|number_format(2, ',', ' ') }}
						</span>
						<span	
							id="soldeAlert"						
							class="taille18 ml-2 pointeur_help float-left{{ color_solde != 'neg' ? ' hide' }}"
							title="Attention, vous avez dépassé votre autorisation de découvert"
						>
							<i class="red fas fa-exclamation"></i>
						</span>
					</span>
				</div>

				{# SPINNER #}
				<div class="col-1">
					<div id="show_spinner" class="col-1 spinner spinner-border taille10 text-primary hide" role="status">
						<span class="sr-only">Chargement...</span>
					</div>
				</div>
				
				{# NAVIGATION YEAR #}
				<div class="offset-5 col-2 center">
					{% if year != 'now'|date('Y') %}
						<a href="{{ path('compte_show', { 'id': compte.id, 'year': 'now'|date('Y') }) }}">
							<span class='button'>Retour {{ 'now'|date('Y') }}</span>
						</a>
					{% endif %}
					<div class="container navigation">
						{% if year > min_year %}
							<a href="{{ path('compte_show', { 'id': compte.id, 'year': (year - 1) }) }}"><i class="fa-solid fa-arrow-left pointer black" title="Limite année min {{ min_year }}"></i></a>
						{% endif %}
						<span class='navigation_elem'>{{ year }}</span>
						{% if year < max_year %}
							<a href="{{ path('compte_show', { 'id': compte.id, 'year': (year + 1) }) }}"><i class="fa-solid fa-arrow-right pointer black" title="Limite année max {{ max_year }}"></i></a>
						{% endif %}
					</div>
				</div>
			</div>
		</div>

		{# TABLES #}
		<span id='tables'>
			{% include('compte/table/_tables.html.twig') %}
		</span>

		{# MODAL GESTION #}
		{{ include('compte/modal/operations/index.html.twig') }}

		{# MODAL CATEGORY #}
		{{ include('compte/modal/category/index.html.twig') }}

	</div>
{% endblock %}
