<tr class='listeAdd'>
	<td class='td_number'>
		<input
			class='inputNumber'
			type='number'
			step="0.01"
			pattern="^\d*(\.\d{0,2})?$"
			value='0'
			{{ sign == 'pos' ? "min='0'" : "max='0'" }}
		/>
	</td>
	<td class='td_switch'>
		<span class='switch hide'><i class='fa-solid fa-repeat'></i></span>
	</td>
	<td class='td_anticipe'>
		<input
			class='inputAnticipe'
			type='number'
			step='0.01'
			pattern='^\d*(\.\d{0,2})?$'
			value='0'
			{{ sign == 'pos' ? "min='0'" : "max='0'" }}
		/>
	</td>
	<td class='td_date'>
		<select class='inputDay'>
			{% for i in 1..daysInMonth %}
				<option value='{{ i }}' {{ loop.first ? 'selected' }}>{{ i }}</option>
			{% endfor %}
		</select>/<span>{{ month < 10 ? '0' ~ month : month }}</span>/<span>{{ year }}</span>
	</td>
	<td class='td_comment'>
		<input class='inputComment' type='text' />
	</td>
	<td>
		<button class="inputRetrait">Retirer</button>
	</td>
</tr>