{% for compte in comptes %}
	<div class='col-4 mb-2 center pointeur_help{{ compte.main ? ' gras' }}' title="{{ compte.type.libelle }}">
		{{ compte.type.libelleShort }}
	</div>
	<div class='col-4 mb-2{{ compte.main ? ' gras' }}'>
		<a href="{{ path('compte_show', {'id': compte.id}) }}">
			{{ compte.libelle }}
		</a>
	</div>
	<div class='col-3 pr-4 mb-2{{ compte.main ? ' gras' }} alignRight'>{{ comptes_solde[compte.id].solde }} €</div>
{% endfor %}