{# NO OPERATIONS #}
{% if operations[subcategory.id] is not defined %}
	{{ include('compte/table/empty/_sc.html.twig') }}

{# SC OPERATIONS #}
{% else %}

	{% set operationsBySc = operations[subcategory.id] %}

	{# 12 MOIS #}
	{% for month in 1..12 %}

		{# VAR #}
		{% set reel = '0' %}
		{% set blink = '' %}
		{% set anticipe = '' %}
		{% set done =
				current_year > year or (current_year == year and month < current_month)
					? 'done'
					: current_year == year and month == current_month
						? 'current'
						: ''
		%}

		{% if operationsBySc[month] is defined %}

			{% set data = operationsBySc[month] %}
			{% set reel = data['reel'] is defined ? data['reel'] : '0' %}

			{% if data['anticipe'] is defined and data['anticipe'] != 0 %}
				{% set anticipe = data['anticipe'] %}
				{% set blink = month < current_month ? 'blink_me' : '' %}
			{% endif %}
		{% endif %}

		{# REEL #}
		<td
			class="{{ done }}"
			data-month="{{ month }}"
			data-scid="{{ subcategory.id }}"
			data-anticipe="0"
			data-target="#modalGestion"
			data-toggle="modal"
		>
			{{ reel }}
		</td>

		{# ANTICIPE #}
		<td
			class='{{ done }} {{ blink }} anticipe'
			data-month="{{ month }}"
			data-scid="{{ subcategory.id }}"
			data-anticipe="1"
			data-target="#modalGestion"
			data-toggle="modal"
		>
			{{ anticipe }}
		</td>
	{% endfor %}

	{# SC TOTAL #}
	<td class="counterEdit done td_total_border">{{ operationsBySc['total'] }}</td>
	<td class="counterEdit done">{{ (operationsBySc['total'] / 12)|round(2, 'ceil') }}</td>
	<td class="counterEdit done">{{ ((operationsBySc['total']*100)/operations['total_final'])|round(2, 'ceil') }}</td>
{% endif %}