{# NO OPERATIONS #}
{% if operations[subcategory.id] is not defined %}
	{{ include('compte/table/empty/_sc.html.twig') }}

{# SC OPERATIONS #}
{% else %}

	{% set operationsBySc = operations[subcategory.id] %}

	{# 12 MOIS #}
	{% for month in 1..12 %}
		{% set done = month < current_month	? 'done' : month == current_month ? 'current' : '' %}

		{# DATAS #}
		{% if operationsBySc[month] is defined %}

			{% set data = operationsBySc[month] %}

			{% if data['anticipe'] is defined and data['anticipe'] != 0 %}
				{% set anticipe = data['anticipe'] %}
				{% set blink = month < current_month ? 'blink_me' : '' %}
			{% else %}
				{% set anticipe = '' %}
				{% set blink = '' %}
			{% endif %}

			<td class="{{ done }}">{{ data['reel'] is defined ? data['reel'] : '0' }}</td>
			<td class='anticipe {{ blink }} {{ done }}'>{{ anticipe }}</td>

		{# NO DATAS #}
		{% else %}
			<td class='{{ done }}'>0</td>
			<td class='{{ done }} anticipe'></td>
		{% endif %}
	{% endfor %}

	{# SC TOTAL #}
	<td class="td_total done">{{ operationsBySc['total'] }}</td>
	<td class="done">{{ (operationsBySc['total'] / 12)|round(2, 'ceil') }}</td>
	<td class="done">{{ ((operationsBySc['total']*100)/operations['total_final'])|round(2, 'ceil') }}</td>
{% endif %}