{# EMPTY TR #}
<tr class="collabo">
	<td colspan="2" class="col_start_middle bck_{{ sign }}"></td>
	<td colspan="24" class="bck_{{ sign }}"></td>
	<td colspan="3" class="td_total bck_black"></td>
</tr>

{# TOTAUX #}

	{# DETAILS (reel & anticipe) #}
	<tr>
		<td colspan="2" class="col_start_bottom bck_{{ sign }}"></td>
		{% if operations['totaux_mois'] is defined %}

			{% for month in 1..12 %}

				{% set done =
						current_year > year or (current_year == year and month < current_month)
							? 'done'
							: current_year == year and month == current_month
								? 'current'
								: ''
				%}

				{% if operations['totaux_mois'][month] is defined %}

					{% set ope = operations['totaux_mois'][month] %}

					<td class="{{ done }} total_month_detail_{{ sign }}">
						{{ ope['reel'] is defined ? ope['reel'] : '0' }}
					</td>
					<td class="{{ done }} total_month_detail_{{ sign }}">
						{{ ope['anticipe'] is defined ? ope['anticipe'] : '0' }}
					</td>

				{% else %}
					<td class="{{ done }} total_month_detail_{{ sign }}">0</td>
					<td class="{{ done }} total_month_detail_{{ sign }}">0</td>
				{% endif %}
			{% endfor %}
		{% else %}
			{{ include('compte/table/empty/_totaux_mois_detail.html.twig') }}
		{% endif %}
		<td colspan="3" class="td_total bck_black"></td>
	</tr>

	{# FULL #}
	<tr>
		<td colspan="2" class="col_start_bottom bck_{{ sign }}"></td>
		{% if operations['totaux_mois'] is defined %}

			{% for month in 1..12 %}

				{% set done =
						current_year > year or (current_year == year and month < current_month)
							? 'done gras'
							: current_year == year and month == current_month
								? 'current'
								: ''
				%}

				{% if operations['totaux_mois'][month] is defined %}
					<td colspan="2" class="{{ done }} total_month_full_{{ sign }}">
						{{ operations['totaux_mois'][month]['total'] }}
					</td>
				{% else %}
					<td colspan="2" class="{{ done }} total_month_full_{{ sign }}">0</td>
				{% endif %}
			{% endfor %}
		{% else %}
			{{ include('compte/table/empty/_totaux_mois_full.html.twig') }}
		{% endif %}
		<td class="td_total souligne done">{{ operations['total_final'] }}</td>
		<td class="done">{{ (operations['total_final'] / 12)|round(2, 'ceil')  }}</td>
		<td class="done">{{ operations['totaux_mois'] is defined ? 100 : 0 }}</td>
	</tr>