<table class="compteTable center">
	<thead>
		<tr class="tr_head">
			<th colspan='2' {{ user.preferences.comptegenreshow ? "rowspan='2'" }} class='col_start_top bck_{{ type }}'>
				{{ type == 'pos' ? "<span class='green'>(+)</span>" : "<span class='red'>(-)</span>" }}
				<span class="">(€)</span>
			</th>

			{# MONTHS #}
			{% for key, month in months %}
				{% set done =
						current_year > year or (current_year == year and key < current_month)
							? 'done'
							: current_year == year and key == current_month
								? 'current normal italique taille18'
								: 'normal'
				%}
				<th colspan='2' id='month_{{ key }}' class="{{ done }}">{{ month|capitalize }}</th>
			{% endfor %}

			{# TOTAL #}
			<th id='total' class="td_total done">Total</th>
			<th id='totalByMonth' class="done">Soit <br/>X€ / mois</th>
			<th id='percent' class="done">%</th>
		</tr>
		{% if user.preferences.comptegenreshow %}
			<tr class="tr_etat">
				{% for month in 01..12 %}

					{% set done =
							current_year > year or (current_year == year and month < current_month)
								? 'done'
								: current_year == year and month == current_month
									? 'current'
									: ''
					%}
					<td class="{{ done }}">Fait</td>
					<td class="{{ done }}">A ven.</td>
				{% endfor %}
				<th class="td_total done"></th>
				<th class="done"></th>
				<th class="done"></th>
			</tr>
		{% endif %}
	</thead>
	<tbody>
		{% for category in compte.categories %}

			{% for subcategory in category.subcategories %}
				<tr class='{{ loop.first ? "tr_operation_first" }} edit'>
					{% if loop.first %}
						<td class='td_category_libelle' rowspan='{{ category.subcategories|length }}'>
							{{ category.libelle|capitalize }}
						<td/>
					{% endif %}

					<td class='td_subcategory_libelle'>{{ subcategory.libelle|capitalize }}</td>

					{{ include('compte/table/_sc_operations.html.twig') }}
				</tr>
			{% endfor %}
		{% endfor %}
		{{ include('compte/table/_totaux_mois.html.twig') }}
	</tbody>
</table>