<table class="table compteTable center">
	<thead>
		<tr class="tr_head">
			<th colspan='2' {{ user.preferences.comptegenreshow ? "rowspan='2'" }} class='col_start_top bck_{{ sign }}'>
				{{ sign == 'pos' ? "<span class='green'>(+)</span>" : "<span class='red'>(-)</span>" }}
				<span class="">(€)</span>
			</th>

			{# MONTHS #}
			{% for key, month in months %}
				{% set done =
						current_year > year or (current_year == year and key < current_month)
							? 'done'
							: current_year == year and key == current_month
								? 'current normal italique taille18'
								: 'normal'
				%}
				<th colspan='2' id='month_{{ key }}' class="{{ done }}">{{ month|capitalize }}</th>
			{% endfor %}

			{# TOTAL #}
			<th id='total' class="td_total_border done col_end_top">Total</th>
			<th id='totalByMonth' class="done col_end_top">X€ / mois</th>
			<th id='percent' class="done col_end_top">%</th>
		</tr>
		{% if user.preferences.comptegenreshow %}
			<tr class="tr_etat">
				{% for month in 01..12 %}

					{% set done =
							current_year > year or (current_year == year and month < current_month)
								? 'done'
								: current_year == year and month == current_month
									? 'current'
									: ''
					%}
					<td class="{{ done }}">Fait</td>
					<td class="{{ done }}">A ven.</td>
				{% endfor %}
				<th colspan="3" class="td_total_border done"></th>
			</tr>
		{% endif %}
	</thead>
	<tbody>
		{% for category in compte.categories|sort((a) => a.position) %}
			{% if category.sign == signBool %}
				{% for subcategory in category.subcategories|sort((a, b) => a.position <=> b.position) %}
					<tr class='{{ loop.first ? "tr_operation_first" }} edit'>
						{% if loop.first %}
							<td
								data-target="#modalCategory"
								data-toggle="modal"
								data-id="{{ category.id }}"
								data-focusa="cat_{{ category.id }}"
								data-sign="{{ signBool == false ? 0 : 1 }}"
								class='td_category_libelle'
								rowspan='{{ category.subcategories|length }}'
							>
								{{ category.libelle|capitalize }}
							<td/>
						{% endif %}

						<td
							data-target="#modalCategory"
							data-toggle="modal"
							data-id="{{ category.id }}"
							data-focusa="sc_{{ subcategory.id }}"
							data-sign="{{ signBool == false ? 0 : 1 }}"
							class='td_subcategory_libelle'
						>
							{{ subcategory.libelle|capitalize }}
						</td>
						{{ include('compte/table/_sc_operations.html.twig') }}
					</tr>
				{% endfor %}
			{% endif %}
		{% endfor %}
		{{ include('compte/table/_totaux_mois.html.twig') }}
	</tbody>
</table>