<table class="compteTable center">

	{# SOLDE MENSUEL #}
	<tr class='tr_head'>
		<th colspan="2" class="solde_th_cache"></th>
		<th colspan="2" class="solde_th_cache">Solde mensuel</th>

		{% set revenuAnnuel = 0 %}

		{% for month in 1..12 %}

			{% set done =
					current_year > year or (current_year == year and month < current_month)
						? 'done'
						: current_year == year and month == current_month
							? 'current normal'
							: 'normal'
			%}

			{# DATAS #}
			{% if soldes['totaux_solde'][month] is defined %}
				{% set number = soldes['totaux_solde'][month]['solde']|round(2, 'ceil') %}
				{% set revenuAnnuel = soldes['totaux_solde'][month]['cumule']|round(2, 'ceil') %}

				<th	colspan='2' class="{{ done }} {{ number < 0 ? 'total_month_full_neg' : 'total_month_full_pos' }}">
					{{ number }}
				</th>

			{% else %}
				<th colspan='2' class="total_month_full_pos {{ done }}">0</th>
			{% endif %}
		{% endfor %}
		<th class="solde_th_cache_2"></th>
		<th rowspan="2" class="solde_th_cache souligne">Revenu annuel</th>
		<th rowspan="2" class="revenuAnnuel {{ revenuAnnuel < 0 ? 'total_month_full_neg' : 'total_month_full_pos' }}">
			{{ revenuAnnuel }}
		</th>
	</tr>

	{# SOLDE CUMULE #}
	<tr class='tr_head mt-1'>
		<th colspan="2" class="solde_th_cache"></th>
		<th colspan="2" class="solde_th_cache">Solde cumulé</th>

		{% for month in 1..12 %}

			{% set done =
					current_year > year or (current_year == year and month < current_month)
						? 'done'
						: current_year == year and month == current_month
							? 'current normal'
							: 'normal'
			%}

			{# DATAS #}
			{% if soldes['totaux_solde'][month] is defined %}
				{% set number = soldes['totaux_solde'][month]['cumule']|round(2, 'ceil') %}

				<th colspan='2' class="{{ done }} {{ number < 0 ? 'total_month_full_neg' : 'total_month_full_pos' }}">
					{{ number }}
				</th>

			{% else %}
				<th colspan='2' class="{{ done }} total_month_full_pos">0</th>
			{% endif %}
		{% endfor %}
		<th class="solde_th_cache_2"></th>
	</tr>
</table>