
{# EMPTY TR #}
<tr>
	<td colspan="2" class="col_start_middle bck_{{ type }}"></td>
	<td colspan="24" class="bck_{{ type }}"></td>
	<td colspan="3" class="td_total bck_black"></td>
</tr>

{# TOTAUX #}

	{# DETAILS (reel & anticipe) #}
	<tr>
		<td colspan="2" class="col_start_bottom bck_{{ type }}"></td>
		{% if operations['totaux_mois'] is defined %}
			{% for totaux in operations['totaux_mois'] %}
				<td class="total_month_detail_{{ type }}">{{ totaux['reel'] is defined ? totaux['reel'] : '0' }}</td>
				<td class="total_month_detail_{{ type }}">{{ totaux['anticipe'] is defined ? totaux['anticipe'] : '0' }}</td>
			{% endfor %}
		{% else %}
			{{ include('compte/table/empty/_totaux_mois_detail.html.twig') }}
		{% endif %}
		<td colspan="3" class="td_total bck_black"></td>
	</tr>

	{# FULL #}
	<tr>
		<td colspan="2" class="col_start_bottom bck_{{ type }}"></td>
		{% if operations['totaux_mois'] is defined %}
			{% for totaux in operations['totaux_mois'] %}
				<td colspan="2" class="total_month_full_{{ type }}">{{ totaux['total'] }}</td>
			{% endfor %}
		{% else %}
			{{ include('compte/table/empty/_totaux_mois_full.html.twig') }}
		{% endif %}
		<td class="td_total souligne">{{ operations['total_final'] }}</td>
		<td>{{ (operations['total_final'] / 12)|round(2, 'ceil')  }}</td>
		<td>{{ operations['totaux_mois'] is defined ? 100 : 0 }}</td>
	</tr>