{% extends 'base.html.twig' %}

{% block title %}Liste de vos Biens Mobiliers{% endblock %}

{% block body %}
<div class="container">

	{% include('_h1.html.twig') with {'text': 'Liste de vos Biens Mobiliers'} %}

	<table class="table">
		<thead>
			<tr>
				<th>Actions</th>
				<th>Nom</th>
			</tr>
		</thead>
		<tbody>
		{% for mobilier in mobiliers %}
			<tr>
				<td>
					<div class="conteneur">
						<div class="col-1">
							<a href="{{ path('mobilier_show', {'id': mobilier.id}) }}" title="Regarder ce bien mobilier">
								<i class="fas fa-eye"></i>
							</a>
						</div>
						<div class="col-1">
							<a href="{{ path('mobilier_edit', {'id': mobilier.id}) }}" title="Modifier ce bien mobilier">
								<i class="fas fa-wrench"></i>
							</a>
						</div>
					</div>
				</td>
				<td>{{ mobilier.libelle }}</td>
			</tr>
		{% else %}
			<tr>
				<td colspan="2">Aucun bien mobilier trouvé</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>

	<div class="row">
		<a href="{{ path('mobilier_new') }}" class="btn btn-success col-3 mt-4 mb-4">
			<i class="fas fa-plus"></i>
			Créer un nouveau bien mobilier
		</a>
		<a href="{{ path('tableau_bord') }}" class="btn btn-warning offset-1 col-3 mt-4 mb-4">
			<i class="fas fa-backward"></i>
			Retour au tableau de bord
		</a>
	</div>
</div>
{% endblock %}
